#nprogress .bar {
  background: #d4af37 !important;
  width: 100%;
  height: 3px;
  position: fixed;
  z-index: 99999; 
  top: 0;
  left: 0;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #d4af37,
    0 0 5px #d4af37 !important;
}
